/*
====
IMPORTATION OF FILES TO CSS
=====
*/
/*
=======
GLOBAL VARIABLES
=======
*/
:root {
  --bg-clr: rgb(241, 241, 255);
  --clr: rgb(65, 65, 81);
  --btn: ;
}
/*
=======
GLOBAL STYLES
=======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-clr);
  color: var(--clr);
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  padding: 25px;
}
div {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgb(181, 181, 188);
  display: flex;
  background-color: rgb(246, 246, 250);
}
.aside {
  background-color: rgb(60, 60, 130);
  color: white;
}
section {
  padding: 10px;
}
article {
  width: 60%;
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  margin-top: 10px;
}
main {
}
h1 {
  font-size: ;
  font-family: ;
  font-weight: ;
}
h2 {
  font-size: ;
  font-family: sans-serif;
  font-weight: normal;
}

h3 {
  font-size: ;
  font-family: ;
  font-weight: ;
}

h4 {
  font-size: ;
  font-family: ;
  font-weight: ;
}
h6 {
  font-size: ;
  font-family: ;
  font-weight: ;
}

/*
=======
CLASS STYLES
=======
*/
.aside {
  border-radius: 8px 0 0 8px;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.header {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.header ul {
  list-style: none;
  display: flex;
  padding: ;
}
li {
  padding-right: 10px;
}
a {
}
a:hover {
}
.underline {
  height: 2px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: inset 0px 0px 1px rgb(64, 62, 62);
}
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.profile {
}
.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*
========
rows and columns
========
*/
.profile .row1 {
  margin-bottom: 5px;
}
.profile .col2 button {
  margin-right: 20px;
}
.profile .row2 {
  display: inline-flex;
}
.profile .row2 h6 {
  color: rgb(158, 167, 166);
}
.profile .row3 {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
}
.profile .row3 input {
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  border: 2px solid rgba(229, 230, 234, 0.744);
}
.profile .col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  height: 6rem;
}
.profile .col2 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  width: 70%;
}
.profile .col {
  margin-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.profile .row1 h4 {
  font-weight: normal;
}
.profile .col h5 {
  color: ;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(65, 63, 63);
  font-family: verdana;
}
.profile .upload-profile {
  padding: 5px;
  color: rgb(54, 128, 212);
  font-weight: bold;
  border: 2px solid rgba(240, 234, 234, 0.93);
  border-radius: 8px;
}
.profile .del-profile {
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  border: 2px solid rgb(54, 128, 212);
  color: rgb(54, 128, 212);
  font-weight: bold;
}
.profile .col::placeholder {
  color: rgba(240, 234, 234, 0.942); /* Change the color to red */
}

/*
connect account
*/
.connect-media h5 {
  color: rgb(193, 193, 203);
  font-weight: bold;
  width: 100%;
}
.connect-media .row1 {
  margin-bottom: 10px;
}
.connect-media .row3 {
  width: 100%;
  display: inline-flex;
  justify-content: right;
  align-content: center;
}
.connect-media button {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  width: 40%;
  margin: 10px;
  border: none;
  color: rgb(54, 128, 212);
}

/*
Testing
*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vertical {
  width: 65%;
}

.horizontal {
  /* Set the height as needed */
  width: 30%;
}

/* RESET PASSWORD*/
/*
=======
RESPONSIVENESS
=======
*/
/*
=======
GLOBAL VARIABLES
=======
*/
